@import '../../../styles/variables';
@import '../../../styles/mixins';

.comment {
  border-bottom: 1px solid $detail;
  position: relative;
}

.image {
  float: left;
  margin: 0 10px 10px 0;
}

.meta {
  @include clear;
}

.author {
  display: block;
  text-transform: uppercase;

  a {
    color: $dark;
  }
}

.time {
  display: block;
}

.content {
  p {
    @include size-height(12, 15);
  }
}

.reply {
  @include size-height(16, 20);
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:active,
  &:focus {
    outline: 0 none;
  }
}

.active {
  color: $pink;
}

.actions {
  margin: 5px 0;
}

.edit {
  background: transparent;
  border: 1px solid $detail;
  cursor: pointer;
  transition: 600ms;

  &:hover {
    border: 1px solid $dark;
  }

  &:active,
  &:focus {
    outline: 0 none;
  }
}

.deletion {
  background: transparent;
  border: 0 none;
  color: $pink;
  cursor: pointer;
  margin: 0 5px;

  &:hover {
    text-decoration: underline;
  }
}

.elapsed {
  font-style: italic;
}
