@import '../../../styles/variables';
@import '../../../styles/mixins';

.comment {
  border-bottom: 1px solid $detail;
  position: relative;
}

.image {
  float: left;
  margin: 0 10px 10px 0;
}

.meta {
  @include clear;
}

.author {
  display: block;
  text-transform: uppercase;
}

.time {
  display: block;
}

.content {
  p {
    @include size-height(12, 15);
  }
}

.reply {
  @include size-height(18, 20);
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
