@import '../../styles/variables';
@import '../../styles/mixins';

.columns {
  @include clear;
}

.section {
  margin: 0 0 40px;
}

.header {
  @include upper-header;
}

.columnA {
  float: left;
  margin: 0 2em 0 0;
  max-width: 300px;
  width: 38%;
}

.columnB {
  float: left;
  width: 60%;
}

.moreIn {
  @include size-height(11);
  color: $black;
  display: block;
  font-family: $futura;
  font-weight: $font-bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
