
@import '../../styles/variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: $pink;
}

blockquote,
em {
  font-style: italic;
}

.page {
  background: $white;
  margin: 0 auto;
  max-width: $content-width;
}
