
@import '../../styles/variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: deeppink;
}

.header {
  text-align: center;
}

.nav {
  width: $content-width;
  margin: 0 auto;
  padding: $padding;
  text-align: center;
}

.content {
  width: $content-width;
  margin: $padding auto;
}

.navItem {
  display: inline-block;
}

.link {
  padding: $padding;
  font-size: 18px;
}

.logo {
  display: block;
  width: 600px;
  height: 300px;
  margin: $padding auto;
  background: url('../../images/react-graphql.png');
}
