{
  "presets": [
    "babel-preset-kyt-react",
    "stage-0"
  ],
  "plugins": [
    "relay",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "routes": "./src/routes",
        "components": "./src/components",
        "utils": "./src/utils",
        "queries": "./src/queries",
        "relay": "./src/relay",
        "server": "./src/server"
      }
    }]
  ]
}
