@import '../../styles/variables';
@import '../../styles/mixins';

.meta {
  @include size-height(12, 18);
  clear: both;
  color: #666;
  margin-bottom: 10px;
}

.title {
  @include h1;
  @include size-height(36, 42);
  clear: both;
  font-weight: bold;
  margin: 0 0 10px;

  a {
    color: #222;
    text-decoration: none;
  }
}

.paragraph {
  margin: 0 0 20px;
}

.image {
  display: block;
  max-width: 100%;
}

.content {
  max-width: 740px;

  h2 {
    margin: 0 0 5px;
  }

  p {
    margin: 0 0 20px;
  }
}

.footer {
  a {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}
