@import '../../styles/variables';
@import '../../styles/mixins';

.meta {
  @include size-height(12, 18);
  color: #666;
  clear: both;
  margin-bottom: 10px;
}

.title {
  @include h1;
  @include size-height(36, 42);
  clear: both;
  font-weight: bold;
  margin: 0 0 10px;

  a {
    color: #222;
    text-decoration: none;
  }
}

.paragraph {
  margin: 0 0 20px;
}

.image {
  display: block;
  max-width: 100%;
}

.content {
  max-width: 740px;

  h2 {
    margin: 0 0 5px;
  }

  p {
    margin: 0 0 20px;
  }
}

.footer {
  a {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.placeholder {
  display: block;
  height: auto !important;
  max-width: 100%;
  position: relative;

  img {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

  span {
    background: $pink;
    border-radius: 10px;
    height: 52px;
    left: 50%;
    margin: -21px 0 0 -48px;
    opacity: .8;
    position: absolute;
    top: 50%;
    width: 76px;
    z-index: 2;

    .arrow {
      border-bottom: 10px solid transparent;
      border-left: 20px solid $white;
      border-top: 10px solid transparent;
      height: 0;
      left: 31px;
      position: absolute;
      top: 16px;
      width: 0;
    }
  }

  &:hover span {
    background: $black;
  }
}
