@mixin size-height ($size, $height: 1) {
  font-size: ($size + px);
  font-size: (($size/16) + rem);
  line-height: ($height + px);
  line-height: (($height/16) + rem);
}

@mixin clear() {
  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin form-field() {
  border: 1px solid $detail;
  margin: 0;
  padding: 6px;
  width: 100%;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px $white inset;
    color: $dark;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@mixin button() {
  border: 1px solid $dark;
  cursor: pointer;
  display: inline-block;
  font-family: $futura;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

@mixin submit-button() {
  @include button();
  background: $dark;
  color: $white;
}

@mixin reset-button() {
  @include button();
  background: $white;
  color: $dark;
}

@mixin load-more() {
  @include size-height(16, 16);
  appearance: none;
  background: $white;
  border: 1px solid #eee;
  box-sizing: border-box;
  color: #767676;
  cursor: pointer;
  height: 32px;
  text-align: center;
  text-transform: uppercase;
  transition: 400ms;
  width: 80px;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $black;
    color: $black;
    outline: 0 none;
  }
}

@mixin h1 {
  @include size-height(32, 40);
  font-family: $futura;
}

// h2
@mixin subhead {
  @include size-height(24, 32);
  font-family: $futura;
}

// h3
@mixin upper-header {
  @include size-height(18, 24);
  font-family: $futura;
  letter-spacing: .5px;
  text-transform: uppercase;
}

@mixin embed() {
  cursor: pointer;
  display: inline-block;
  height: auto !important;
  margin: 0 0 20px;
  max-width: 100%;
  position: relative;

  figcaption {
    display: none;
  }

  img {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

  &::before {
    background: $pink;
    border-radius: 10px;
    content: ' ';
    height: 52px;
    left: 50%;
    margin: -21px 0 0 -48px;
    opacity: .8;
    position: absolute;
    top: 50%;
    width: 76px;
    z-index: 2;
  }

  &::after {
    border-bottom: 10px solid transparent;
    border-left: 20px solid $white;
    border-top: 10px solid transparent;
    content: ' ';
    height: 0;
    left: calc(50% + 31px);
    margin: -21px 0 0 -48px;
    position: absolute;
    // top: 16px;
    top: calc(50% + 16px);
    width: 0;
    z-index: 3;
  }

  &:hover {
    &::before {
      background: $black;
    }
  }
}
