@mixin size-height ($size, $height: 1) {
  font-size: ($size + px);
  font-size: (($size/16) + rem);
  line-height: ($height + px);
  line-height: (($height/16) + rem);
}

@mixin clear() {
  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin form-field() {
  border: 1px solid $detail;
  margin: 0;
  padding: 6px;
  width: 100%;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px $white inset;
    color: $dark;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@mixin button() {
  border: 1px solid $dark;
  cursor: pointer;
  display: inline-block;
  font-family: $futura;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

@mixin submit-button() {
  @include button();
  background: $dark;
  color: $white;
}

@mixin reset-button() {
  @include button();
  background: $white;
  color: $dark;
}
