@import '../../styles/variables';
@import '../../styles/mixins';

body {
  @include size-height(13, 18);
  background: #e2e2e2;
  color: $dark;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0 2em;
  text-rendering: optimizeLegibility;
}

iframe {
  max-width: 100%;
}

a {
  color: $pink;
}

blockquote {
  margin: 0 20px;
}

em {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.page {
  background: $white;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 2em;
}

.content {
  @include clear;

  padding: 2em 0;
}

.primary {
  float: left;
  width: 78%
}

.secondary {
  float: right;
  width: 20%;
}

.footerCredits {
  padding: 2em 0;
  text-align: center;
}
