@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  @include clear;
  background: $white;
  border-top: 2px solid #bbb;
  max-width: $content-width;
  position: relative;
  width: 100%;
  z-index: 9999;

  hgroup {
    overflow: hidden;
  }
}

.siteTitle {
  @include h1;
  @include size-height(48, 72);
  color: $black;
  float: left;
  font-weight: bold;
  padding: 2.6% 0 0;

  a {
    color: $black;
    text-decoration: none;
  }
}

.siteDescription {
  @include subhead;
  @include size-height(24, 24);
  bottom: 40%;
  color: #7a7a7a;
  position: absolute;
  right: 32px;
}

.logo {
  background: url('../../images/react-graphql.png');
  background-size: contain;
  display: block;
  height: 100px;
  margin: $padding auto;
  width: 200px;
}
