@import '../../styles/variables';

.loading {
  background: $white;
  min-height: 400px;
  padding: 200px 0 0;
}

.activity {
  background: $white url('../../images/icons/icon-activity-indicator.gif') no-repeat 50% 10px;
  height: 56px;
  width: 100%;
}
