@import '../../styles/variables';
@import '../../styles/mixins';

.widget {
	margin: 0 0 24px;
}

.title {
	@include upper-header;
	margin: 0 0 16px;
}

.goToThis {
	.title {
		line-height: 1.6em;
	}

  a {
    font-weight: 700;
    text-decoration: none;
  }

	ol {
		margin: 16px 0;
	}

	li {
		padding: 8px 0;
		border-top: 3px solid #eee;
	}
}
