@import '../../styles/mixins';

.comments {
  margin: 55px 0 0;
  max-width: 100%;
  width: 450px;

  ul {
    ul {
      margin: 20px 0 20px 20px;
    }
  }
}

.image {
  float: left;
  margin: 0 10px 10px 0;
}

.level0 {
  border-bottom: 1px solid #ccc;
}

.level0,
.level1,
.level2,
.level3,
.level4, {
  text-align: left;
}

.comment {
  margin: 10px 0 20px;
}

.meta {
  @include clear;
}

.author {
  display: block;
  text-transform: uppercase;
}

.time {
  display: block;
}

.content {
  p {
    @include size-height(12, 15);
  }
}
