@import '../../styles/variables';
@import '../../styles/mixins';

.comments {
  margin: 55px 0 0;
  max-width: 100%;
  width: 450px;

  ul {
    ul {
      margin: 20px 0 20px 20px;
    }
  }
}

.image {
  float: left;
  margin: 0 10px 10px 0;
}

.level0 {
  border-bottom: 1px solid #ccc;
}

.level0,
.level1,
.level2,
.level3,
.level4, {
  text-align: left;
}

.comment {
  margin: 10px 0 20px;
}

.meta {
  @include clear;
}

.author {
  display: block;
  text-transform: uppercase;
}

.time {
  display: block;
}

.content {
  p {
    @include size-height(12, 15);
  }
}

.form {
  margin: 20px 0 40px;
  width: 300px;

  p {
    margin: 5px 0;
  }

  label {
    @include size-height(16, 20);
    display: block;
    font-family: $futura;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    border: 1px solid #eee;
    margin: 0;
    padding: 6px;
    width: 100%;
  }
}

.button {
  @include size-height(16, 20);
  background: $black;
  border: 0 none;
  color: $white;
  display: block;
  font-family: $futura;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
}
