@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  @include h1;
  @include size-height(18, 24);
  clear: both;
  margin: 0 0 10px;

  a {
    color: #222;
    text-decoration: none;
  }
}

.paragraph {
  margin: 0 0 20px;
}

.image {
  display: block;
  max-width: 100%;
}

.content {
  p {
    margin: 0 0 20px;
  }
}

.footer {
  a {
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.embed {
  @include embed();
}
