@import '../../styles/variables';
@import '../../styles/mixins';

.title {
  @include h1;
  @include size-height(36, 42);
  clear: both;
  font-weight: bold;
  margin: 0 0 10px;

  a {
    color: #222;
    text-decoration: none;
  }
}

.content {
  max-width: 740px;
}

.list {
  list-style: decimal;
}

.item {
  @include clear();
  display: list-item;
  margin: 10px 0 10px 20px;
  padding: 0 0 0 7px;
}

.image {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
